<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8xpjS-NMyngLqKg0L6uwXchzFqgNKohM</string>
	<key>GCM_SENDER_ID</key>
	<string>652966170966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HisarCS.PillTracker</string>
	<key>PROJECT_ID</key>
	<string>trackpill-80c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>trackpill-80c5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652966170966:ios:4b50b8c978a27dee6746f7</string>
</dict>
</plist>